# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/coursera/target
/actix-gcd/target
/hello/target
/mandelbrot/target
/quickreplace/target
/guess-game/target
/adder/target
/bank/target
/udemy/target
/minigrep/target
.idea/*
/exercism/target
/dungeoncrawl/target
logs/target/
iter/target/
media/target/
rust-book/target/
functional/target/
actix-gcd/.idea/*
hello/.idea/*
rust-book/.idea/*
flap/target/
dungeoncrawl/.idea/*
flap/.idea/*
rust_servers/ezytutors/target/*
rust_servers/ezytutors/.idea/*
rust_servers/scenario1/.idea/*
rust_servers/scenario1/target/*
lifetimes/target/*
generics/target/*
traits/target/*
closures/target/*
traits2/target/*
errors/target/*
testing/target/*
logging/target/*
threads_channels/target/*